<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link href="css/style.min.css?v=1.0" rel="stylesheet">
  <title>Моёправо.рф</title>
</head>

<div class="circle-container">
  <div class="circle" id="circle_follow"></div>
</div>

<body>

  <div class="modal" id="modal">
    <div class="modal__wrapper">
      <button class="modal__close follow-change base-button" id="modal_close">
        <svg class="modal__close-icon" width="20" height="20" alt="#">
          <use href="img/icon/sprite.svg#modal-close-icon"></use>
        </svg>
      </button>
      <div class="modal__inner">
        <span class="modal__success-text">Спасибо, ваша заявка отправлена</span>
      </div>
    </div>
  </div>

  <header class="page-header">

    <div class="page-header__inline">
      <div class="page-header__inline-container base-container">
        <div class="page-header__inline-burger" id="burger">
          <button class="main-nav__burger base-button">
            <span class="main-nav__burger-line"></span>
          </button>
          <div class="page-header__caption-wrapper">
            <span class="page-header__burger-caption" data-burger-caption="Закрыть">Меню</span>
          </div>
        </div>
        <a class="page-header__inline-callback page-button base-link" id="feedback_link" href="#">Консультация</a>
      </div>
    </div>

    <div class="page-header__nav">
      <nav class="page-header__main-nav">
        <ul class="page-header__nav-list base-list">
          <li class="page-header__nav-item current_page_item ">
            <a class="page-header__nav-link base-link" href="index.html">Главная</a>
          </li>
          <li class="page-header__nav-item">
            <a class="page-header__nav-link base-link" href="archive.html">Статьи</a>
          </li>
          <li class="page-header__nav-item">
            <a class="page-header__nav-link base-link" href="page-contacts.html">Контакты</a>
          </li>
        </ul>

        @@include('../_bem/_contacts-info.html')

      </nav>

      <figure class="page-header__nav-graphic base-figure">
        <div class="page-header__graphic-line"></div>
        <div class="page-header__graphic-line"></div>
        <div class="page-header__graphic-line"></div>
        <div class="page-header__graphic-line"></div>
        <div class="page-header__graphic-line"></div>
      </figure>

    </div>

  </header>