<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link href="css/style.min.css?v=1.0" rel="stylesheet">
  <title>Моёправо.рф</title>
</head>

<div class="circle-container">
  <div class="circle" id="circle_follow"></div>
</div>

<body>

  <header class="page-header">

    <div class="page-header__inline">
      <div class="page-header__inline-container base-container">
        <div class="page-header__inline-burger">
          <button class="main-nav__burger base-button" id="burger">
            <span class="main-nav__burger-line"></span>
          </button>
          <span class="page-header__burger-caption">Меню</span>
        </div>
        <button class="page-header__inline-callback page-button base-button" type="button">Консультация</button>
      </div>
    </div>

    <div class="page-header__nav">
      <nav class="page-header__main-nav">
        <ul class="page-header__nav-list base-list">
          <li class="page-header__nav-item current_page_item  ">
            <a class="page-header__nav-link base-link" href="#">Главная</a>
          </li>
          <li class="page-header__nav-item">
            <a class="page-header__nav-link base-link" href="#">Наши услуги</a>
          </li>
          <li class="page-header__nav-item">
            <a class="page-header__nav-link base-link" href="#">Статьи</a>
          </li>
          <li class="page-header__nav-item">
            <a class="page-header__nav-link base-link" href="#">Контакты</a>
          </li>
        </ul>

        <div class="page-header__nav-info">
          <div class="page-header__info-item">
            <span class="page-header__info-label">Email</span>
            <a class="page-header__info-content base-link" href="#">Info@gmail.com</a>
          </div>
          <div class="page-header__info-item">
            <span class="page-header__info-label">Телефон</span>
            <a class="page-header__info-content base-link" href="#">+7 (000) 000-00 00</a>
          </div>
          <div class="page-header__info-item">
            <span class="page-header__info-label">Адрес</span>
            <p class="page-header__info-content base-par">г. Москва, ул.Пушкина</p>
          </div>
        </div>
      </nav>

      <figure class="page-header__nav-graphic base-figure">
        <div class="page-header__graphic-line"></div>
        <div class="page-header__graphic-line"></div>
        <div class="page-header__graphic-line"></div>
        <div class="page-header__graphic-line"></div>
        <div class="page-header__graphic-line"></div>
      </figure>

    </div>

  </header>