<div class="contacts-info">
  <div class="contacts-info__item">
    <span class="contacts-info__item-label">Email</span>
    <a class="contacts-info__item-content base-link" href="#">Info@gmail.com</a>
  </div>
  <div class="contacts-info__item">
    <span class="contacts-info__item-label">Телефон</span>
    <a class="contacts-info__item-content base-link" href="#">+7 (000) 000-00 00</a>
  </div>
  <div class="contacts-info__item">
    <span class="contacts-info__item-label">Адрес</span>
    <p class="contacts-info__item-content base-par">г. Москва, ул.Пушкина</p>
  </div>
</div>