<section class="feedback">
  <h2 class="feedback__title base-title">Записать на консультацию</h2>
  <form class="feedback__form">
    <div class="feedback__form-top">
      <input class="feedback__form-input" type="text" id="name" name="name" placeholder="Фамилия" required>
      <input class="feedback__form-input" type="text" id="second_name" name="second_name" placeholder="Имя" required>
      <input class="feedback__form-input" type="text" id="third_name" name="third_name" placeholder="Отчество" required>
      <div class="feedback__form-select" id="select">
        <span class="feedback__select-label">Город</span>
        <div class="feedback__select-content-wrapper">
          <div class="feedback__select-content" id="select_shown"></div>
          <svg class="feedback__select-arrow" width="9" height="5" aria-hidden="true" alt="#">
            <use href="img/icon/sprite.svg#select-arrow-icon"></use>
          </svg>
        </div>

        <ul class="feedback__select-list base-list" id="select_list">
          <li class="feedback__select-item" data-value="Москва"><span class="feedback__item-text">Москва</span></li>
          <li class="feedback__select-item" data-value="Таганрог"><span class="feedback__item-text">Таганрог</span></li>
          <li class="feedback__select-item" data-value="Сызрань"><span class="feedback__item-text">Сызрань</span></li>
          <li class="feedback__select-item" data-value="Бобруйск"><span class="feedback__item-text">Бобруйск</span></li>
          <li class="feedback__select-item" data-value="Урюпинск"><span class="feedback__item-text">Урюпинск</span></li>
          <li class="feedback__select-item" data-value="Норильск"><span class="feedback__item-text">Норильск</span></li>
        </ul>

        <input class="feedback__form-input visually-hidden" type="text" id="city" name="city" required>
      </div>
      <input class="feedback__form-input" type="tel" id="phone" name="phone" placeholder="Телефон" required>
    </div>
    <div class="feedback__form-bottom">
      <p class="feedback__form-info">Нажимая кнопку отправить, вы соглашаетесь с обработкой персональных данных</p>
      <button class="feedback__form-submit page-button page-button--blue base-button" type="submit">Отправить</button>
    </div>
  </form>
</section>