@use "../mixins";

.index-bottom {
  background-color: var(--color-royal-blue);

  &__content {
    position: relative;

    // display: flex;
    // flex-direction: column;
    // align-items: center;

    width: 100%;
    min-height: 1286px;
    background-image: -webkit-image-set(url("../img/image/index-bottom-bg.png") 1x);

    @supports (background-image: -webkit-image-set(url("../img/image/index-bottom-bg.webp") 1x)) {
      background-image: -webkit-image-set(url("../img/image/index-bottom-bg.webp") 1x);
    }

    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 49px 49px 0 0;

    padding: 88px 0 23px 0;

    z-index: 1;

    @include mixins.respond-to(mobileOnly) {
      min-height: auto;
      background-position: center;
      border-radius: 0;

      padding: 45px 0 0 0;
    }

    @include mixins.respond-to(tabletOnly) {
      min-height: auto;
      background-position: center;
      border-radius: 0;

      padding: 45px 0 0 0;
    }
  }
}

.cases {
  margin: 0 0 99px 0;

  @include mixins.respond-to(mobileOnly) {
    margin: 0 0 50px 0;
  }

  @include mixins.respond-to(tabletOnly) {
    margin: 0 0 50px 0;
  }

  &__title {
    margin: 0 0 40px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 35px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 35px 0;
    }
  }

  &__featured {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      gap: 30px;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    @include mixins.respond-to(onlyDesktopS) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    &-item {
      position: relative;

      display: flex;
      flex-direction: column;

      width: 637px;
      height: 404px;
      overflow: hidden;

      padding: 30px;

      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 100%;
        height: 100%;
        background-color: var(--color-royal-blue);
        border-radius: 36px;

        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
      }

      @include mixins.respond-to(mobileOnly) {
        width: 100%;
        height: auto;
        outline: 3px solid var(--color-torea-bay);
        border-radius: 36px;

        & .cases__item-icon {
          display: none;
        }

        & .cases__item-icon--blue {
          display: none;
        }
      }

      &--active {
        & .cases__item-circle::before {
          transform: translateX(-50%) translateY(-50%) scale(0);
          transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
        }

        @include mixins.respond-to(mobileOnly) {
          &::before {
            transform: translate(-50%, -50%) scale(1);
            transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
          }
        }

        @include mixins.respond-to(tablet) {
          & .cases__item-icon--blue {
            transform: translate(-50%, -50%) scale(1);
            transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
          }
        }
      }
    }
  }

  &__item-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    z-index: -1;
  }

  &__item-background {
    position: relative;

    overflow: hidden;
  }

  &__item-icon {

    &--blue {
      position: absolute;
      top: 50%;
      left: 50%;

      overflow: hidden;

      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);

      z-index: 1;
    }
  }

  &__item-content {
    position: relative;
    z-index: 2;

    transform: translateZ(0);
  }

  &__item-title {
    font-family: var(--font-family-second);
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--color-white);

    margin: 0 0 6px 0;

    @include mixins.respond-to(mobileOnly) {
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;

      margin: 0 0 10px 0;
    }
  }

  &__item-subtitle {
    opacity: 80%;

    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-white);

    margin: 0 0 10px 0;
  }

  &__item-graphic {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: fit-content;
    overflow: hidden;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 30px 0;
    }
  }

  &__item-circle {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 169px;
    height: 169px;
    background: var(--color-woodsmoke);
    border-radius: 50%;
    overflow: hidden;

    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 100%;
      height: 100%;
      background-color: var(--color-royal-blue);
      border-radius: 50%;

      transform: translateX(-50%) translateY(-50%) scale(1);
      transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);

      z-index: -1;
    }
  }

  &__item-link {
    margin: auto 0 0 0;
  }

  &__archive {
    margin: 44px 0 0 0;

    &-title {
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      color: var(--color-white);

      margin: 0 0 25px 0;
    }

    &-list {
      display: flex;
      flex-direction: column;
    }

    &-item {
      position: relative;

      display: flex;
      justify-content: space-between;

      padding: 0 0 15px 0;
      margin: 0 0 15px 0;

      @include mixins.respond-to(mobileOnly) {
        flex-direction: column;
        gap: 20px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 1px;
        background-color: #424444;
      }

      &:first-child {
        padding: 15px 0;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 1px;
          background-color: #424444;
        }
      }

      &:last-child {
        padding: 0;
        margin: 0;

        &::after {
          display: none;
        }
      }
    }

    &-name,
    .cases__archive-date,
    .cases__archive-button {
      display: flex;
      align-items: center;

      width: 33%;

      @include mixins.respond-to(mobileOnly) {
        justify-content: flex-start !important;

        width: 100%;

        text-align: center;
      }
    }

    &-name,
    .cases__archive-date {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--color-white);
    }


    &-name {
      justify-content: flex-start;
    }

    &-date {
      justify-content: center;
    }

    &-button {
      justify-content: flex-end;
    }
  }
}