@use "../mixins";

.contacts-info {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;

    margin: 0 0 48px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 20px 0;
    }

    &:last-child {
      margin: 0;
    }

    & a {
      transition: color 0.3s;

      &:hover {
        color: var(--color-torea-bay);

        transition: color 0.3s;
      }
    }

    &-label {}
  }

  &__item-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;

    margin: 0 0 11px 0;
  }

  &__item-content {
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;

    @include mixins.respond-to(mobileOnly) {
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
    }
  }
}