@use "../mixins";

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--color-white);
  box-shadow: 0px 4px 44px rgba(194, 194, 194, 0.25);
  border-radius: 19px;

  color: var(--color-charade);

  padding: 100px 133px 96px 133px;
  margin: 0 auto 96px auto;

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    text-align: center;

    margin: 0 0 60px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-top {
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, auto);
    align-items: end;
    grid-gap: 60px 80px;
    grid-auto-flow: row;

    margin: 0 0 20px 0;
  }

  &__form-input {
    border: none;
    border-bottom: 1px solid var(--color-charade);
    outline: none;

    font-family: var(--font-family-default);
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: var(--color-charade);

    padding: 0 0 10px 0;
  }

  #third_name {
    max-height: 26px;
  }

  &__form-select {
    position: relative;

    border-bottom: 1px solid var(--color-charade);
    outline: none;
    cursor: pointer;

    font-family: var(--font-family-default);
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: var(--color-charade);

    padding: 0 0 10px 0;

    &:hover .feedback__select-content {
      color: var(--color-royal-blue);

      transition: color 0.3s;
    }
  }

  &__select-label {
    display: inline-block;

    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    color: #8D8D8D;

    margin: 0 0 10px 0;
  }

  &__select-content-wrapper {
    position: relative;
  }

  &__select-content {
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: var(--color-charade);

    transition: color 0.3s;
  }

  &__select-list {
    position: absolute;
    left: 0;
    top: 100%;

    width: 100%;
    background-color: var(--color-royal-blue);
    opacity: 0;
    user-select: none;
    pointer-events: none;

    transform: translateY(50px);
    transition: transform 0.3s, opacity 0.3s;

    padding: 15px 10px;

    &--active {
      opacity: 1;
      user-select: all;
      pointer-events: all;

      transform: translateY(0);
      transition: transform 0.3s, opacity 0.3s;
    }
  }

  &__select-item {
    position: relative;

    display: block;

    overflow: hidden;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: var(--color-white);

    padding: 5px 0;
    margin: 0 0 19px 0;

    &--selected {
      display: none;
    }

    &:last-child {
      margin: 0;
    }

    &:hover {
      & .feedback__item-text {
        transform: translateX(10%);
        transition: transform 0.3s;
      }

      & .feedback__item-text::after {
        transform: translateY(-50%) translateX(0);
        transition: transform 0.3s;
      }
    }
  }

  &__item-text {
    position: relative;

    display: inline-block;

    transition: transform 0.3s;

    &::after {
      content: "";
      position: absolute;
      left: 120%;
      top: 50%;

      width: 500%;
      height: 2px;
      background-color: var(--color-white);
      opacity: 50%;

      transform: translateY(-50%) translateX(100%);
      transition: transform 0.3s;
    }
  }

  &__select-arrow {
    position: absolute;
    right: 0;
    top: 50%;

    width: 9px;
    height: 5px;

    transform: translateY(-50%) rotate(0);
    transition: transform 0.3s;

    &--active {
      transform: translateY(-50%) rotate(180deg);
      transition: transform 0.3s;
    }
  }

  &__form-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__form-info {
    display: inline-block;

    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: var(--color-black);

    margin: 0 14px 0 0;
  }

  &__form-submit {
    margin: 0 0 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 1079px) {
  .feedback {
    width: 100%;
  }
}

@media (min-width: 1080px) {
  .feedback {
    width: 1076px;
  }
}