@use "../mixins";

.page-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  background-color: var(--color-white);
  border-radius: 24px;
  cursor: pointer;

  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-torea-bay);

  padding: 10px 50px;

  &--blue {
    background-color: var(--color-torea-bay);

    color: var(--color-white);
  }
}