@use "../mixins";

.page-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;

  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}