@use "../mixins";

.single-services__features {
  background-color: var(--color-white);

  &-content {
    background-image: -webkit-image-set(url("../img/image/about-bg.png") 1x);

    @supports (background-image: -webkit-image-set(url("../img/image/about-bg.webp") 1x)) {
      background-image: -webkit-image-set(url("../img/image/about-bg.webp") 1x);
    }

    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 49px 49px 0 0;
    overflow: hidden;

    padding: 90px 0;

    @include mixins.respond-to(mobileOnly) {
      border-radius: 0;
      background-position: center;

      padding: 45px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      border-radius: 0;
      background-position: center;

      padding: 20px 0;
    }

    @include mixins.respond-to(onlyDesktopS) {
      border-radius: 0;
      background-position: center;

      padding: 20px 0;
    }
  }

  &-title {
    margin: 0 0 33px 0;
  }

  &-description {
    display: inline-block;

    max-width: 860px;

    font-weight: 600;
    font-size: 25px;
    line-height: 32px;

    margin: 0 0 31px 0;

    @include mixins.respond-to(mobileOnly) {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
    }

    @include mixins.respond-to(tabletOnly) {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
    }
  }

  &-wrapper {
    display: flex;
    align-items: stretch;
    gap: 25px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tabletOnly) {}

    @include mixins.respond-to(onlyDesktopS) {}
  }

  &-item {
    position: relative;

    width: 305px;
    min-height: 376px;
    background-color: var(--color-white);
    border-radius: 18px;
    overflow: hidden;

    color: var(--color-black);

    transition: width 1.2s, background-color 1.2s, color 0.6s;

    padding: 36px 10px 40px 25px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      background-color: var(--color-torea-bay);

      color: var(--color-white);

      padding: 20px;

      & picture {
        opacity: 0.2;
      }

      &--active {
        width: 100% !important;
        background-color: var(--color-torea-bay);

        color: var(--color-white);
        transition: initial;

        & picture {
          opacity: 0.2 !important;
        }
      }

      &-title {
        max-width: 100% !important;
      }

      &-description {
        max-width: 100% !important;
      }
    }

    &--active {
      width: 635px;
      background-color: var(--color-torea-bay);

      color: var(--color-white);

      transition: width 1.2s, background-color 1.2s, color 0.6s;

      & picture {
        opacity: 1;

        transition: opacity 0.6s;
        transition-delay: 0.8s;
      }
    }

    &:nth-child(1) {

      & picture {
        &:nth-of-type(1) {
          bottom: -100px;
          right: -20px;
        }

        &:nth-of-type(2) {
          bottom: -90px;
          right: 240px;
        }
      }

      & picture img {
        z-index: 3;
      }
    }

    &:nth-child(2) {
      & picture {
        &:nth-of-type(1) {
          right: 230px;
          bottom: 110px;
        }

        &:nth-of-type(2) {
          right: 30px;
          bottom: 0;
        }

        &:nth-of-type(3) {
          right: 0;
          bottom: 32px;
        }
      }

      & picture img {
        z-index: 2;
      }
    }

    &:nth-child(3) {
      & picture {
        right: 10px;
        bottom: 10px;
      }

      & picture img {
        z-index: 3;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
    }

    &-title {
      display: inline-block;

      max-width: 270px;

      font-weight: 600;
      font-size: 25px;
      line-height: 30px;

      margin: 0 0 22px 0;
    }

    &-description {
      display: inline-block;

      max-width: 270px;

      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
    }

    &-picture {
      position: absolute;

      opacity: 0;

      transition: opacity 0.6s;
    }

    &-img {
      position: relative;
    }
  }
}