@use "../mixins";

html {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	scrollbar-gutter: stable;
}

* {
	// cursor: none;

	// @include mixins.respond-to(notDesktopFr) {
	// 	cursor: auto;
	// }
}

*,
:after,
:before {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;

	width: 100%;
	min-height: 100vh;
	// background-color: var(--color-black);

	font-family: var(--font-family-default);
	color: var(--color-white);

	padding: 0 !important;
	margin: 0 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: var(--color-white);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-royal-blue);
}

.scrollbar-hidden {
	// overflow-y: scroll !important;

	scrollbar-width: none !important;
	/* Firefox */
	-ms-overflow-style: none !important;
	/* IE 10+ */

	&::-webkit-scrollbar {
		background: transparent !important;
		/* Chrome/Safari/Webkit */
		width: 0px !important;
	}
}

// .circle-container {
// 	position: fixed;
// 	top: 0;
// 	left: 0;

// 	height: 100vh;
// 	width: 100%;
// 	pointer-events: none;
// 	overflow: hidden;

// 	z-index: 1000;

// 	@media (hover: none) {
// 		display: none;
// 	}

// 	@include mixins.respond-to(notDesktopFr) {
// 		display: none;
// 	}
// }

// .circle {
// 	position: absolute;

// 	width: 40px;
// 	height: 40px;
// 	background-color: transparent;
// 	border: 2px solid var(--color-aqua-deep);
// 	border-radius: 50%;
// 	backface-visibility: hidden;
// 	pointer-events: none;

// 	transform: translateY(-50%) translateX(-50%);
// 	transition: width 0.3s, height 0.3s, background-color 0.3s, border 0.3s;

// 	z-index: 1000;
// }