:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;
	--color-royal-blue: #3765E4;
	--color-torea-bay: #13389F;
	--color-woodsmoke: #131515;
	--color-charade: #252533;

	// Шрифты
	--font-family-default: 'Montserrat', system-ui, sans-serif;
	--font-family-second: 'Inter', system-ui, sans-serif;

	// Размер контейнера
	--container-width: 1300px;
}